/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-size: 1rem;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Lato", sans-serif;
  line-height: 2;
  background-color: f2f2f2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/*
 * Utilities
 */
 .container {
   width: 90%;
   max-width: 1200px;
   margin: 0 auto;
 }
 .section {
   margin-bottom: 2rem;
 }
 .text-center {
   text-align: center;
 }
 h2.text-center {
   text-transform: uppercase;
 }
 .tittle-decorator {
   display: flex;
   justify-content: center;
   margin-top: -1rem;
 }
 .tittle-decorator i{
  color: #fe4918;
 }
 /*
 * Buttons
 */
 .btn {
   display: inline-block;
   text-transform: uppercase;
   padding: .4rem 1.5rem;
 }
.btn-primary {
  color: white;
  background-color: #fe4918;
}
.btn-secondary {
  color: #fe4918;
  border: 1px solid #fe4918;
}
.btn-trans {
  border: 2px solid white;
  color: white;
}
/*
 * Header
 */
/*Hero*/
.hero {
  background-image: url(../img/encabezado.jpg);
  background-position: top center;
  background-size: cover;
  height: 100vh;
  min-height: 600px;
}
.hero__content {
  padding-top: 2rem;
  width: 90%;
  max-width: 80rem;
  margin: 0 auto;
}
.hero__social {
  text-align: center;
}
.hero__social a {
  color: white;
  font-size: 2rem;
  margin-right: 1rem;
}
.hero__social a:last-child {
  margin-right: 0;
}
.hero__info {
  margin-top: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  color: white;
}
.hero__info p {
  margin: 0;
  display: inline;
  font-size: 1.4rem;
}
.hero__info p i {
  color: #fe4918;
}
.hero__info__date,
.hero__info__city {
  flex: 0 0 100%;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}
.hero__info__tittle {
  text-transform: uppercase;
  font-size: 2.8rem;
  flex: 0 0 100%;
  padding-bottom: 12rem;
}
/*Lettering*/
.hero__info__tittle span{
  position: relative;
  text-shadow: 0 0 30px black;
}
@media (min-width: 1200px) {
  .char1 {
    top: 20px;
    right: 20px;
  }
  .char2 {
    top: 0px;
    left: -20px;
  }
  .char3 {
    top: 10px;
    right: 20px;
  }
  .char4 {
    top: 5px;
    right: 10px;
  }
  .char5 {
    top: 15px;
    right: 10px;
  }
  .char6 {
    top: 5px;
    left: 10px;
  }
  .char7 {
    top: 20px;
    left: -10px;
  }
  .char8 {
    top: 0;
    left: 10px;
  }
  .char9 {
    top: 10px;
    right: 20px;
  }
  .char10 {
    top: 20px;
    right: 20px;
  }
  .hero__info__tittle span{
    font-size: 10rem;
    padding-bottom: 2rem;
  }
}
.hero__info__slogan {
  flex: 0 0 100%;
}
@media (min-width: 768px) {
  .hero__info__date,
  .hero__info__city {
    flex: 0 0 50%;
  }
  .hero__info__tittle {
    font-size: 4.8rem;
    padding-bottom: 2rem;
  }
}
/*menu*/
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #353535;
}
.menu__logo {
  flex: 0 0 50%;
}
.menu__bars {
  color: white;
  font-size: 2rem;
  line-height: 0;
  padding-right: 1rem;
}
.menu__bars:hover {
  cursor: pointer;
}
.menu__links {
  flex: 0 0 50%;
  margin: 0 auto;
  padding-top: 0.7rem;
  display: none;
}
.menu__links a {
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}
.menu__links a:hover , .menu__links a.activo{
  border: 1px solid #fe4918;
  color: #fe4918;
  font-weight: 700;
}
@media (min-width: 768px) {
  .menu__bars {
    display: none;
  }
  .menu__logo {
    flex: 0 0 30%;
  }
  .menu__links {
    flex: 0 0 60%;
    margin: 0;
    padding-top: 0;
    display: flex;
    justify-content: space-between;
  }
  .menu__links a {
    display: inline-block;
    padding: .5rem 1rem;
    font-size: .8rem;
  }
}
@media (min-width: 1000px) {
  .menu {
    padding: 1rem 2rem;
  }
  .menu__logo {
    flex: 0 0 30%;
  }
  .menu__links {
    flex: 0 0 50%;
    margin: 0;
    padding-top: 0;
    display: flex;
    justify-content: space-between;
  }
  .menu__links a {
    display: inline-block;
    flex: 0 0 25%;
    padding: .5rem 1rem;
    font-size: 1rem;
  }
}
.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 200;
}
/*
 * Content
 */
 /**Program**/
 .program {
   background-image: url(../img/bg-talleres.jpg);
   background-position: center center;
   background-size: cover;
   display: flex;
   flex-wrap: wrap;
 }
 .program__video {
   width: 100vw;
   display: none;
   overflow: hidden;
 }
 .program__content {
   background-color: rgba(255, 255, 255, .8);
   width: 100%;
   padding: 1rem;
 }
 .program__tabs {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fe4918;
 }
 .program__tabs a {
   color: black;
   text-align: center;
   border: 2px solid transparent;
 }
 .program__tabs a:hover, a.program__tabs--active {
   border-bottom: 2px solid #fe4918;
 }
 .program__tabs a i{
   color: #fe4918;
 }
.program__tabs__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}
.program__event {
  flex: 0 0 100%;
}
.program__event:first-of-type {
  margin-top: 2rem;
  border-bottom: 1px solid black;
}
.program__event:last-of-type {
  margin-bottom: 2rem;
}
.program__event h3 {
  color: #fe4918;
  display: inline-block;
}
.program__event p i {
  color: #fe4918;
}
@media (min-width: 768px) {
  .program {
    background: none;
    position: relative;
    min-height: 42rem;
  }
  .program__video {
    display: block;
  }
  .program__content {
    margin: 3rem auto 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    max-width: 50%;
  }
  .program__tabs a {
    flex-basis: 33.3%;
  }
}
@media (min-width: 1000px) {
  .program__content {
    margin: 0;
    position: absolute;
    left: 5vw;
    top: 5vh;
    max-width: 40%;
  }
}
.hide {
  display: none;
}
 /**Guests**/
 .guest__container {
   padding-top: 2rem;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
 }
 .guest__card {
   position: relative;
   margin-bottom: 1.5rem;
 }
 .guest__card__img img {
   filter: grayscale(1);
 }
 .guest__card__img img:hover {
  filter: none;
 }
 .guest__card a {
   position: absolute;
   bottom: 0;
   display: block;
   width: 100%;
   padding: 1rem;
   background-color: rgba(0, 0, 0, .8);
 }
 .guest__card h3{
   color: #fe4918;
   text-transform: uppercase;
   line-height: 1rem;
 }
 @media (min-width: 768px) {
   .guest__card {
     flex: 0 0 calc(50% - 1rem);
   }
 }
@media (min-width: 1200px) {
  .guest__card {
    flex: 0 0 calc(33.3% - 1rem);
  }
}
/**Counter**/
.counters {
  background: url(../img/bg-resumen.jpg) center center;
  background-size: cover;
}
.counters .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  padding: 2rem 0;
}
.counter {
  flex: 0 0 50%;
  padding: 1rem 0;
}
.counter__number {
  color: #fe4918;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  line-height: 3rem;
  margin: 0;
}
.counter__name {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  color: white;
  margin: 0;
}
@media (min-width: 768px) {
  .counter {
    flex: 0 0 25%;
  }
  .counters .container {
    padding: 3rem 0;
  }
}
@media (min-width: 1000px) {
  .counters {
    min-height: 25rem;
  }
  .counters .container {
    padding: 10rem 0;
  }
}
/**Prices**/
.prices {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.price__card {
  flex: 0 0 90%;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid lightgray;
}
.price__card:hover {
  border: 1px solid #fe4918;
}
.price__card h4 {
  color: #fe4918;
}
.price__card p span {
  font-weight: 700;
  font-size: 3rem;
  line-height: 3rem;
}
@media (min-width: 768px) {
  .price__card {
    flex: 0 0 calc(33.3% - .5rem);
  }
}
@media (min-width: 1200px) {
  .price__card {
    flex: 0 0 calc(33.3% - 3rem);
  }
}
/**Map**/
.map {
  min-height: 400px;
  z-index: 1;
}
/**Testimonials**/
.testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 2rem;
}
.testimonial {
  padding: 1rem;
  border: 1px solid lightgray;
  margin-bottom: 2rem;
}
.testimonial p:first-child {
  padding: 0 2rem;
}
.testimonial p span {
  color: #fe4918;
  text-transform: uppercase;
}
blockquote {
  position: relative;
  margin: 0;
}
.testimonial__cite::before {
  content: '\201c';
  position: absolute;
  left: -10px;
  top: 35px;
  font-size: 8rem;  
  line-height: 0;
  color: #fe4918;
}
.testimonial__info img {
  float: left;
  width: 20%;
  border-radius: 50%;
  margin-right: 1rem;
}
.testimonial__info {
  font-size: .8rem;
  line-height: .8rem;
}
@media (min-width: 768px) {
  .testimonial{
    flex: 0 0 calc(33.3% - .5rem);
  }
}
/**Newsletter*/
.newsletter {
  background-image: url(../img/bg-newsletter.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
}
.newsletter .container {
  padding: 10vh 0 ;
}
.newsletter p {
  color: white;
  font-size: 22px;
}
#btn_newsletter{
  padding: .4rem 1.5rem;
}
/**Newsletter*/
.countdown .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  padding: 2rem 0;
}
.countdown .counter__name{
  color: #000;
}
/**Footer**/
footer {
  background: #323232;
}
.footer__widgets {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__widgets {
  color: #fff;
}
.footer__widget h3 {
  text-transform: uppercase;
}
.footer__widget h3 span{
  color: #fe4918;
}
.footer__rights {
  background-color: #222;
  color: white;
  margin: 0;
  padding: 1rem 0;
}
@media (min-width: 768px) {
  .footer__widget {
    flex: 0 0 calc(33.3% - 1rem);
  }
  .footer__widget .hero__social {
    font-size: 0;
  }
}
/***INTERNAS***/
form.registro h3 {
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0 0 0;
  color: #fe4918;
}
form.registro label {
  margin-bottom: 5px;
  font-weight: bold;
}
h4{
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #fe4918;
  padding-bottom: 10px;
  font-size: 1.2rem;
}
div.caja {
  background-color: white;
  border: 1px solid #e1e1e1;
  margin: 10px;
  padding: 10px;
}
div.campo {
  padding: 20px;
}
@media (min-width: 768px) {
  div.campo {
    float: left;
    width: 33.3%;
  }
}
.orden input {
  clear: both;
  width: 50px;
  margin: 10px auto 0 auto;
  display: block;
}
.contenido-dia {
  padding: 20px;
  display: none;
}
@media (min-width: 768px) {
  .contenido-dia > div {
    float: left;
    width: 33.3%;
  }
}
.contenido-dia p {
  font-size: 1.2rem;
  font-weight: bold;
}
.contenido-dia > div p{
  text-align: left
}
.contenido-dia > div label{
  display: block;
  margin-bottom: 10px;
}
.contenido-dia > div input{
  margin-right: 10px;
}
.contenido-dia > div label time{
  color: #fe4918;
  font-weight: bold;
}
/***Resumen registro***/
.resumen p {
  font-size: 1.2rem;
  text-transform: uppercase;
}
.resumen .caja {
  display: flex;
  flex-wrap: wrap;
}
div.resumen div.extras {
  flex: 0 0 100%;
  padding: 30px;
}
div.extras div.orden {
  text-align: left;
  margin-bottom: 10px;
}
div.extras div.orden input {
  margin: 10px 0 0 0 ;
}
div.resumen div.total {
  flex: 0 0 100%;
  padding: 30px;
}
div.resumen input {
  display: block;
  margin: 10px auto;
}
#lista-productos, #suma-total {
  background-color: #e1e1e1;
  padding: 10px;
  display: none;
}
#suma-total {
  text-align: center;
  font-size: 24px;
  color: #fe4918;
}
@media (min-width: 768px) {
  .resumen .caja {
    display: block;
  }
  div.resumen div.extras {
    float: left;
    width: 50%;
    padding: 30px;
  }
  div.resumen div.total {
    float: right;
    width: 50%;
    padding: 30px;
  }
}
/***INTERNAS***/
/**Conferencias***/
.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
@media (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1000px) {
  .gallery {
    grid-template-columns: repeat(5, 1fr);
  }
}
/**Calendario***/
.calendario__container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 2rem 0;
}

.dia {
 flex: 0 0 100%;
 background-color: #fe4918;
 color: white;
 text-align: center;
 padding: 5px 0;
 margin-top: 1rem;
}
.eventos {
  display: flex;
  flex-wrap: wrap;  
}
.evento {
  flex: 0 0 33.3%;
  padding: 1rem;
  border: 1px solid #999;
  transition:  all .3s ease;
}
.evento:hover{
  background-color: #e1e1e1;
  -webkit-transform: scale(1.1);
  border: none;
}
.evento p {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.evento p:first-of-type {
  color: #fe4918;
  padding-bottom: 1rem;
}
.evento p i{
  color: #fe4918;
}
/**Colorbox**/
.cboxElement {
  padding: 30px;
  text-align: center;
}
.cboxElement img {
  margin: 1rem auto;
}

.resultado {
  text-align: center;
  padding: 1rem;
  color: white;
  max-width: 400px;
  margin: 0 auto;
}
.correcto {
  background-color: rgb(2, 173, 2);
}
.error {
  background-color: red;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
